body{
  background-image: url(flag.jpg);
  opacity: 50%;
}
h1{
  color: orange ;
  text-align: center ;
  font-weigth: 850;
  font-size: 240% ;
  font-family :cursive ;
}
p{
  color: blue ;
  text-align: right ;
  font-style: italic;
  font-family: "Gill Sans", sans-serif;
}
